<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MasterSheetNew.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MasterSheetNew.Properties.Settings>
      <setting name="nightMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ciscoBLD" serializeAs="String">
        <value>conf t 
!
!
hostname var00 
!
ip domain name embratel 
!
!
###################################################### 
# CONFIGURACOES DE USUARIO # 
###################################################### 
!
service password-encryption
username EBT privilege 10 password CQMR
enable secret PRO1AN
logging buffered 4096 debugging
service tcp-keepalives-in
service tcp-keepalives-out
no enable password
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
!
!
!
!
!###################################################### 
!# LIMPEZA 
!###################################################### 
!
no ip domain name yourdomain.com
no ip domain lookup
!
!
logging buffered 51200 warnings
no logging console
!
!
no boot host
no boot network 
!
!
no ip finger
no service pad
no service tcp-small-servers
no ip bootp server
no ip source-route
no cdp run
!
!
no access-list 23 permit 10.10.10.0 0.0.0.7
!
!
no ip http server
no ip http access-class 23
no ip http authentication local
no ip http secure-server
no ip http timeout-policy idle 60 life 86400 requests 10000
no logging trap notifications
!
!
no ip dhcp excluded-address 10.10.10.1
no ip dhcp pool ccp-pool
!
!
no ip ssh version 1
ip ssh version 2
!
!
!
no crypto pki trustpoint TP-self-signed-4256465151
!
yes 
!
!
no crypto pki certificate chain TP-self-signed-4256465151
!
!
!
crypto pki token default removal timeout 0
!
no crypto key generate rsa
crypto key generate rsa
y
1024
!
!
!
!
!###################################################### 
!# BLOQUEIO - ACCESS LIST 
!###################################################### 
!
ip access-list extended BLOQUEIO_TELNET
remark IP LOOPBACK PE
permit ip host var10 any
permit ip any host var10
!
remark IP PE - CCTO
permit ip host var07 any
permit ip any host var07
!
remark IP GERENCIA GCPE
permit ip any 200.255.156.192 0.0.0.63
permit ip 200.255.156.192 0.0.0.63 any
!
!
line vty 0 4 
access-class BLOQUEIO_TELNET in
access-class BLOQUEIO_TELNET out
exec-timeout 15 0
!
!
!
!###################################################### 
!# POLICY MAP - QoS 
!###################################################### 
!
policy-map SHAPE_OUT
class class-default
 shape average var02000
!
!
!
!###################################################### 
!# CONFIGURACOES DE INTERFACES 
!###################################################### 
!
interface var03
 description var01
 bandwidth var02
 service-policy output SHAPE_OUT
 no shut
!
!
interface var03.var04
description var01
bandwidth var02
encapsulation dot1Q var04
!
!
!
interface var05
 description ** LAN **
 ip address var09 mascaraLAN
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 duplex auto
 speed auto
 no shutdown
 no cdp enable
!
!
!
!
!###################################################### 
!# ROTA ESTATICA 
!###################################################### 
!
ip route 0.0.0.0 0.0.0.0 var07
!
!
!
!
!###################################################### 
!# CONFIGURACOES DE SNMP 
!###################################################### 
!
snmp-server community LIDER RO
snmp-server host 200.255.156.194 LIDER
!
!
!
###################################################### 
# CONFIGURACOES DO RELOGIO INTERNO 
###################################################### 
!
clock timezone BR -3 0
clock summer-time BR recurring 1 Sun Oct 0:00 3 Sun Feb 0:00
!
!
!
!###################################################### 
!# CONFIGURACOES DE NTP 
!###################################################### 
!
ntp server 200.20.186.75 prefer source var03.var04
ntp server 200.20.186.94 source var03.var04
!
!
!
!###################################################### 
!# BANNER - USER INTERFACE 
!###################################################### 
!
!
banner motd ^C
||========================================||  
||========== CLARO Brasil S.A. ==============||  
||========================================||  
                                              
        SOMENTE USUARIOS AUTORIZADOS          
           AUTHORIZED USERS ONLY              
                                              
        OS ACESSOS SERAO MONITORADOS          
         ACCESSES WILL BE MONITORED           
                                              
||========================================|| 
^
!
!
!
no banner exec ^C
no banner login ^C
!
!
!
line con 0
no password
exec-timeout 15 0
login local
line aux 0
no password
login local
transport input none
line vty 0 4
no password
exec-timeout 15 0
login local
transport input telnet ssh
!
!
!
!
end

</value>
      </setting>
      <setting name="enableEdit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="canImportSAIP" serializeAs="String">
        <value>False</value>
      </setting>
    </MasterSheetNew.Properties.Settings>
  </userSettings>
</configuration>